<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="brings your food closer">
    <meta name="theme-color" content="#ff8629" />
    <link rel="icon" href="favicon.png">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" crossorigin="anonymous" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" crossorigin="anonymous" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap">
    <title>Foodations</title>
</head>

<body>
    <a href="#restaurants" class="skip-link" tabindex="0">Menuju ke konten</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton" aria-label="navigation-menu">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1><img src="./favicon.png" alt="" width="30px"> Foodations</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/home">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://github.com/dwikyls" target="_blank" rel="noreferrer">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
        <p>All data obtained from <a href="https://dicoding.com" target="_blank" rel="noreferrer">Dicoding Indonesia</a>
        </p>
    </footer>
</body>

</html>