<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Restaurant Apps Starter Project</title>
</head>

<body id="main">
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
        <div class="nav-header">
            <a href="#" id="header_menu" aria-label="tombol sidebar">☰</a>
            <a href="#" id="brand">Foodations</a>
        </div>
        <nav id="drawer">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Favorite</a></li>
                <li><a href="https://github.com/dwikyls">About Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="hero-capt">
            <h1 tabindex="0">Mau makan dimana hari ini?</h1>
            <p tabindex="0">Foodations siap menemani kamu makan dimana aja</p>
        </div>
        <div class="hero-img">
            <img src="./images/heros/hero-image.jpg" alt="hunger apps hero image">
        </div>
    </div>
    <main>
        <article id="maincontent">
            <h2 tabindex="0">Explore Restaurant</h2>
            <section class="rest-list">

            </section>
        </article>
        <footer>
            <center><b tabindex="0">Copyright © 2021 - Foodations</b></center>
        </footer>
    </main>
</body>

</html>